#login-container {
  width: 1440px;
  height: 1024px;
  padding: 98px 111px 98px 111px;
  background: #d5f2f8;
}
@font-face {
  font-family: Monoton;
  src: url(../fonts/Monoton-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
#inner-container {
  width: 1218px;
  height: 828px;
  flex-shrink: 0;
}
.inner-row {
  width: 1218px;
  height: 828px;
  flex-shrink: 0;
}
.heading-section {
  border: 10px solid #000;
  border-right: 0px;
  background: linear-gradient(
    137deg,
    rgba(217, 217, 217, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 10px 10px 24px 0px rgba(166, 180, 200, 0.7);
  backdrop-filter: blur(5px);
}
.form-section {
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: rgba(202, 188, 188, 0.22);
  box-shadow: 10px 10px 24px 0px rgba(166, 180, 200, 0.7);
  backdrop-filter: blur(13px);
}
.akere1 {
  font-family: Monoton;
  width: 435px;
  color: #000;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.35;
  margin-top: 123px;
  margin-left: 68px;
}
.akere2 {
  width: 523px;
  color: #6e6d73;
  font-family: Monoton;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.35;
}
.akere3 {
  width: 523px;
  color: #fff;
  font-family: Monoton;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.35;
}
.header-account {
  width: 349px;
  height: 131px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}
.register-paragraph {
  width: 392px;
  color: #242424;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}
