@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background: var(#f0f0f0, rgba(217, 217, 217, 0.4));
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
}

article.producto > p {
  font-size: 1.3rem;
}

span {
  font-family: Montserrat;
}
span h4 {
  font-family: Poppins;
}

span.your-cart {
  font-family: Poppins;
  font-size: 1.5rem;
}

p {
  font-family: Montserrat;
}

.button-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 30px;
}

.button-order p {
  margin: 0 10px 0 0;
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.barra-lateral svg {
  margin: 2px;
}

.contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contador button {
  border: none;
  background: transparent;
  margin: 8px;
  cursor: pointer;
}

.list-order {
  display: flex;
  flex-direction: row;
}

.delete-producto {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list-order {
  display: flex;
  margin: 40px;
}

.div-span {
  display: flex;
  justify-content: start;
  padding-left: 100px;
}

div.row .producto {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  margin: 25px;
  border-bottom: 4px solid #f0f0f0;
}

div.row .producto img {
  width: 100px;
  height: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.back a {
  margin: 15px;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

.clear {
  margin: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #ea8713;
  color: #fff;
  border: none;
}

.pages {
  margin: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: #fff;
}

.text-arrow {
  font-size: 1.2rem;
}

/* Style Barra lateral*/

.barra-order {
  display: none;
}

.barra-order.active {
  display: flex;
  position: absolute;
  height: 100vw;
  min-width: 600px;
  right: 0;
  background-color: aquamarine;
  color: #000;
}

.barra-order.active p {
  margin: 0;
}
